<div class="login-container">
  <h2>Bienvenido 🌱</h2>
  <p>Inicia sesión para poder detectar la enfermedad de la planta.</p>
  <form (ngSubmit)="onLogin()" class="login-form">
    <input type="text" [(ngModel)]="identifier" name="identifier" placeholder="Correo o usuario" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />
    <button type="submit">Iniciar Sesión</button>
    <p class="error" *ngIf="error">{{ error }}</p>
    <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
  </form>
</div>